<header>
    <!-- Navigation menu -->
    <div class="nav-menu">
        <a id = "menu-acceuil" target="_self" href="/">Accueil</a>
        <a id = "menu-recherche"  target="_self" href="/users/search">Utilisateurs</a>
        <a id = "menu-apropos"  target="_self" href="/aboutus">A Propos</a>   
         {{#unless IsLoggedIn}} 
        <a id = "menu-connexion"  target="_self" href="/connexion">Connexion</a>
        <a id = "menu-inscription"  target="_self" href="/inscription">Inscription</a>
        {{/unless}}
        <a id = "menu-contacter" target="_self" href="/contactus">Nous Contacter</a>
    </div>
</header>