<header>
    <!-- Navigation menu -->
    <div class="nav-menu">
        <a target="_self" href="/">Accueil</a>
        <a target="_self" href="/users/search">Utilisateurs</a>
        <a target="_self" href="/aboutus">A Propos</a>
        <a target="_self" href="/contactus">Nous Contacter</a>
    </div>

</header>