<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{titre}}</title>

    <!-- CSS générique utilisé par toutes les pages -->
    <link rel="stylesheet" type="text/css" href="/css/style.css" />

    <!-- CSS spécifique -->
    {{#each styles}}
    <link rel="stylesheet" type="text/css" href="{{this}}">
    {{/each}}

    <!-- JS spécifique -->
    {{#each scripts}}
    <script type="module" src="{{this}}"></script>
    {{/each}}

</head>

<body>
    {{>header}} <!-- Inclusion du header à partir d'un template partiel -->

    <main>
        {{#unless acceptCookie}}
        <div id="baniere-cookies" class="cookies">
            Ce site utilise les Cookies. Si vous naviguez vous acceptez d'utiliser les Cookies.
            <input type="button" id="button-cookie" value="J'ai Compris"/>
        </div>
        {{/unless}}
        {{{body}}} <!-- Inclusion du contenu principal de la page -->
    </main>

    {{>footer}} <!-- Inclusion du footer à partir d'un template partiel -->
</body>

</html>
