<h1>À propos de notre Mini Réseau Social</h1>
<p>Bienvenue sur notre mini réseau social, un espace où vous pouvez vous connecter avec vos amis et partager vos
    pensées.</p>
<h2>Notre Mission</h2>
<p>Notre mission est de fournir une plateforme simple et conviviale pour que les utilisateurs puissent se connecter,
    partager et interagir.</p>
<h2>Fonctionnalités</h2>
<ul>
    <li>
        <p>Publier des messages et des photos</p>
    </li>
    <li>
        <p>Aimer et commenter les publications des autres utilisateurs</p>
    </li>
    <li>
        <p>Rechercher et ajouter des amis</p>
    </li>
</ul>
<h2>Notre Équipe</h2>
<p>Nous sommes une petite équipe de passionnés de technologie dédiée à créer des expériences utilisateur
    exceptionnelles.</p>