<h1>Connectez Vous</h1>
<form action="#" method="POST">
    <label for="email">Email:</label><br>
    <input type="email" id="email" name="email" required><br><br>
    <label for="password">Mot De Passe:</label><br>
    <input type="password" id="password" name="password" required><br><br>
    <button type="submit">Se Connecter</button>
</form>