<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"> <!-- Définir l'encodage des caractères en UTF-8 -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Assurer une bonne mise en page sur les appareils mobiles -->
    <title>Recherche d'utilisateur</title> <!-- Titre de la page -->
    <link rel="stylesheet" href="/css/styles.css"> <!-- Lien vers la feuille de styles CSS -->
</head>
<body>
    <h1>Recherche d'utilisateur</h1> <!-- En-tête principal de la page -->

    <!-- Formulaire de recherche -->
    <form action="/users/search" method="GET"> <!-- Le formulaire utilise la méthode GET et envoie les données à l'URL /users/search -->
        <input type="text" name="q" placeholder="Rechercher un utilisateur..."> <!-- Champ de saisie pour la recherche d'utilisateur -->
        <button type="submit">Rechercher</button> <!-- Bouton pour soumettre le formulaire -->
    </form>

    <!-- Liste des utilisateurs trouvés -->
    <ul>
        <!-- Boucle pour chaque utilisateur trouvé -->
        {{#each users}}
            <li>
                <!-- Lien vers la page des publications de l'utilisateur -->
                <a target="_self" href="/users/{{id}}/posts">{{name}}</a> <!-- Le nom de l'utilisateur est affiché comme texte du lien, et l'ID est utilisé dans l'URL -->
            </li>
        {{/each}}
    </ul>
</body>
</html>


