html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: Arial, sans-serif;
    /* Définit la police de caractères pour tout le contenu de la page */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}



main {
    flex: 1;
    max-width: 95%;
    min-width: 95%;
    margin: 0 auto;
}

h1 {
    color: #333;
    /* Définit la couleur du texte des titres h1 en gris foncé (#333) */
}

form {
    margin-bottom: 20px;
    /* Ajoute une marge en bas du formulaire de 20px */
}

textarea {
    width: 100%;
    /* Définit la largeur du champ de texte à 100% de la largeur disponible */
    height: 100px;
    /* Définit la hauteur du champ de texte à 100 pixels */
    margin-bottom: 10px;
    /* Ajoute une marge en bas du champ de texte de 10px */
}

input {
    width: 100%;
    /* Définit la largeur du champ de texte à 100% de la largeur disponible */
    height: 35px;
    /* Définit la hauteur du champ de texte à 100 pixels */
    margin-bottom: 10px;
    /* Ajoute une marge en bas du champ de texte de 10px */
}

button {
    padding: 10px 15px;
    /* Définit la taille de rembourrage du bouton */
    background-color: #007bff;
    /* Définit la couleur de fond du bouton en bleu (#007bff) */
    color: white;
    /* Définit la couleur du texte du bouton en blanc */
    border: none;
    /* Supprime la bordure du bouton */
    cursor: pointer;
    /* Définit le curseur de la souris en pointeur lorsque survolé */
}

ul {
    list-style-type: none;
    /* Supprime les puces de liste par défaut */
    padding: 0;
    /* Supprime la marge intérieure de la liste */
}

li {
    background-color: #f9f9f9;
    /* Définit la couleur de fond des éléments de liste en gris très clair (#f9f9f9) */
    margin-bottom: 10px;
    /* Ajoute une marge en bas de chaque élément de liste de 10px */
    padding: 10px;
    /* Ajoute un remplissage intérieur de 10px à chaque élément de liste */
    border-radius: 5px;
    /* Arrondit les coins des éléments de liste avec un rayon de 5px */
}

li p {
    margin: 5px 0;
    /* Ajoute une marge en haut et en bas de chaque paragraphe à l'intérieur des éléments de liste */
}


header,
footer {
    display: flex;
    justify-content: center;
    background-color: #007bff;
}


footer {
    padding: 1rem;
}


/* Style for the navigation menu */
.nav-menu {
    display: flex;
    justify-content: flex-end;
    background-color: transparent;
    padding: 10px;
}

.nav-menu a {
    margin-left: 15px;
    text-decoration: none;
    color: white;
}

.nav-menu a:hover {
    text-decoration: underline;
}

.error {
    color: #a00;
}